{% extends "layout.html.twig" %}

{% block user_content %}
{% for msg in app.session.flashBag.get('success') %}
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                            <span class="white-text">
                                {{ msg|trans }}
                            </span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="container" >
    {% trans %}You have successfully activated your account{% endtrans %}
</div>
    <div class="container home">
        <a class="logo alone"  href="{{ url('logout') }}">{% trans %}News Portal{% endtrans %}</a>
    </div>
{% endblock user_content %}