{% trans %}Hello!{% endtrans %}
       {% trans %}You have not opened to the news portal. There were many interesting articles. We are waiting for you!{% endtrans %}

<span style="float: right">{% trans %}With best wishes, admin of NewsPortal{% endtrans %}</span>