<!DOCTYPE html>
<html>
    <body>
        <h2>Password recovery at NewsPortal</h2>
        <p>To complete password recovery visit the following link:
            <a href="http://localhost:8000/app_dev.php/password-recovery/confirm/{{ access_token }}">
                http://localhost:8000/app_dev.php/password-recovery/confirm/{{ access_token }}
            </a>
        </p>
        <span style="float: right">With best wishes, admin of NewsPortal</span>
    </body>
</html>