<!DOCTYPE html>
<html>
    <body>
        <h2>{% trans %}Password recovery at NewsPortal{% endtrans %}</h2>
        <p>{% trans %}To complete password recovery visit the following link{% endtrans %}:
            <a href="http://localhost:8000{{ path("password_recovery_confirm", {'token': access_token}) }}">
                {% trans %}Restore password{% endtrans %}
            </a>
        </p>
        <span style="float: right">{% trans %}With best wishes, admin of NewsPortal{% endtrans %}</span>
    </body>
</html>
