<h3>{% trans %}You did it! You registered!{% endtrans %}</h3>

{% trans %}Hi{% endtrans %} {{ user }}!  {% trans %} You're successfully registered{% endtrans %}.

{% trans %}To login, go to{% endtrans %}: <a href="http://localhost:8000{{ path("user_is_active", {'token': token}) }}" >{% trans %}Follow the link and activate your account{% endtrans %}
</a>.

{% trans %}Thanks!{% endtrans %}

<span style="float: right">{% trans %}With best wishes, admin of NewsPortal{% endtrans %}</span>
