{% extends 'base.html.twig' %}
{% block title %}{% trans %}Edit user{% endtrans %}{% endblock %}
{% block user_content %}
    {% include 'header.html.twig'%}
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div id="content">
                    {% block content %}

                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
{% endblock user_content %}

