* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}

main{
}
main aside{
	float:left;
	width: 15%;
	padding: 15px 30px;
	box-sizing: border-box;
	position: absolute;
	min-height: 100% ;
    border-right:2px solid ;
}
main section {
	padding-left:15px;
	float: right;
	width: 80%;
	box-sizing: border-box;
	padding-right: 20px;
}
main:after {
  display: block;
  content: '';
  clear: both;
}

#wrapper {
  position: relative;
  min-height: calc(100% - 107px);
}
