{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/add.css') }}">
    {{ parent() }}
{% endblock %}

{% block user_content %}
    {% include 'header.html.twig'%}
    <div class="container">
        <div class="row">
            <div class="col s12">

                    <a class="addButton" href="{{ path('moderator_articles_add') }}">
                        <div>
                        <i class="icon-plus"></i>
                            {% trans %}Add Article{% endtrans %}
                        </div>
                    </a>


                <article id="content">
                    {% block content %}

                    {% endblock %}
                </article>


            </div>
        </div>
    </div>
{% endblock user_content %}
